{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}

  <div class="subhead">
    <div class="container">
      <ul class="nav nav-tabs pull-right">
        <li class="active"><a href="dashboard">Dashboard</a></li>
        <li><a href="/account/user/profile">Settings</a></li>
      </ul> <!-- ./nav -->
      <h1 class="user">
        <img src="{{.User.Image}}">
        <span>{{.User.Name}}</span>
      </h1>
    </div><!-- ./container -->
  </div><!-- ./subhead -->


  <div class="container">
    <div class="row">
      <div class="col-xs-8" role="main">

        <div class="alert alert-feed">
          <ul class="thumbnails pull-right">
            <li>
              <a class="thumbnail" href="/dashboard">
                <img src="{{.User.Image}}" />
              </a>
            </li>
          </ul>
          <span class="label">switch dashboard</span>
          <span>Recent Builds</span>
        </div><!-- ./alert -->

 {{ range $image := .Images }}

 <li>{{ $image.Created }}  {{ $image.ID }}  <b>{{ $image.Size }}</b></li>
  {{ range $tag := $image.RepoTags }}
	<b>{{ $tag }}</b>
  {{ end }}  
 {{end}}

{{ end }}
{{ define "script" }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.js"></script>
  <script>
    $(document).ready(function() {
      $(".timeago").timeago();
    });
  </script>
  <script>
    if (window.localStorage) {
      // get the last visited date from local storage
      var lastVisited = localStorage["lastVisited"];

      if (lastVisited == "null" || lastVisited == NaN || !lastVisited) {
        lastVisited = Date.parse("1970-01-01T00:00:00Z");
      } else {
        lastVisited = Date.parse(lastVisited);
      }

      // get created dates for repositories
      var commits = $(".timeago");
      $('.timeago').each(function(){
        var date = Date.parse($(this).attr("title"));
        if (date > lastVisited) {
          $(this).parent().parent().append('<span style="position: absolute;left: -60px;background: #f7f7f7;padding: 5px 10px;color: #999;border-radius: 5px;top: 26px;">New</span>');
        }

        // update the last visited date
        localStorage["lastVisited"] = Date();
      });
    }
  </script>
{{ end }}
